---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<BaseLayout>
    <h1>Davide's portfolio</h1>
    <section class="container">
        <h2 class="section-title">Games</h2>
        <div class="projects-grid">
            <ProjectCard
                    imgSrc="/projects/comm_int.webp"
                    imgAlt="Commoonication Intearthference"
                    title="Commoonication Intearthference"
                    description="An asymmetric online coop where players race against time to reconstruct a rocket and save Professor Mélier. One player guides on the Moon, sending instructions; the other assembles the rocket on Earth, navigating chaotic chat interferences."
                    sourceCode="https://github.com/ildede/moonshot-client"
                    playHere="https://moonshot-client.netlify.app/"
            ></ProjectCard>
            <ProjectCard
                    imgSrc="/projects/the_watcher.webp"
                    imgAlt="The Watcher"
                    title="The Watcher"
                    description="A top-down narrative-driven walking simulator where players explore a cozy village, uncover relationships, and experience a shocking twist. Explore the village, interact with NPCs and objects, trigger dialogues and emotional events, following narrative hooks that reveal the story gradually."
                    playHere="https://gamejolt.com/games/thewatcher/493177"
            ></ProjectCard>
            <ProjectCard
                    imgSrc="/projects/monstre-moi.webp"
                    imgAlt="Monstre Moi"
                    title="Monstre Moi"
                    description="Mon(s)tre-moi is a chaotic, asymmetrical cooperative party game where one witness describes constantly mutating monsters for others to catch. Players recreate monsters using cards or an app, racing against time and changing monster parts while communicating and coordinating frantically."
                    sourceCode="https://github.com/ildede/monstre-moi"
                    playHere="https://monstre-moi.netlify.app/"
            ></ProjectCard>
            <ProjectCard
                    imgSrc="/projects/toss_the_toast.webp"
                    imgAlt="Toss The Toast"
                    title="Toss The Toast"
                    description="Fun, single-player diner game where you skillfully flip toast, aiming for the perfect landing. Control toast rotation, speed, and trajectory to land correctly on diners’ plates, unlocking new toasts, toppings, and cosmetic skins."
                    sourceCode="https://github.com/ildede/toss-the-toast"
                    playHere="https://loqace.itch.io/tossthetoast"
            ></ProjectCard>
            <ProjectCard
                    imgSrc="/projects/mangroviglio.webp"
                    imgAlt="Mangroviglio"
                    title="Mangroviglio"
                    description="It’s a zen Snake-inspired arcade game where players guide growing mangrove roots, avoiding obstacles and filling the screen strategically. Control multiple roots from the center, dodge rocks and animals, and decide which root to extend as new ones spawn."
                    sourceCode="https://github.com/ildede/mangroviglio"
                    playHere="https://gx.games/games/24pkec/mangroviglio/"
            ></ProjectCard>
            <ProjectCard
                    imgSrc="/projects/reparaignee.webp"
                    imgAlt="Réparaignée"
                    title="Réparaignée"
                    description="Réparaignée puts you in control of a spider navigating its web. Repair broken strands, dodge hazards, and survive relentless insect attacks. Move along the web using the numpad, including diagonal movement. Collect bonuses, avoid maluses, and restore or boost abilities during frantic gameplay."
                    sourceCode="https://github.com/ildede/reparaignee"
                    playHere="https://reparaignee.netlify.app/"
            ></ProjectCard>
            <ProjectCard
                    imgSrc="/projects/duddle_buck.webp"
                    imgAlt="Duddle Buck"
                    title="Duddle Buck"
                    description="Fight your battle with a faucet, a bathtub, and... ducks."
                    sourceCode="https://github.com/ildede/duddle-buck"
                    playHere="https://duddle-buck.pages.dev/"
            ></ProjectCard>
            <ProjectCard
                    imgSrc="/projects/citizenhyene.webp"
                    imgAlt="Citizen Hyène"
                    title="Citizen Hyène"
                    description="Reach your goal in this platformer, before you die of laughter"
                    sourceCode="https://github.com/ildede/ggj2024-citizen-hyene"
                    playHere="https://ggj2024-citizen-hyene.pages.dev/"
            ></ProjectCard>
            <ProjectCard
                    imgSrc="/projects/vekkia.webp"
                    imgAlt="Vekkia"
                    title="Vekkia"
                    description="An introspective journey into the memories of an elderly woman."
                    sourceCode="https://github.com/ildede/Vekkia"
                    playHere="https://ildede.github.io/Vekkia/Build/vekkia.html"
            ></ProjectCard>
            <ProjectCard
                    imgSrc="/projects/recto-verso.webp"
                    imgAlt="Recto-verso"
                    title="Recto-verso"
                    description="Unveil dozens of mysterious stories hidden in the cards you will have to choose."
                    sourceCode="https://github.com/ildede/recto-verso"
                    playHere="https://ggj2022.happydev.cloud/"
            ></ProjectCard>
            <ProjectCard
                    imgSrc="/projects/in-wanderland.webp"
                    imgAlt="In Wanderland"
                    title="In Wanderland"
                    description="Try recollecting your memories, by pacing through the maze of your own mind"
                    sourceCode="https://github.com/ildede/babylon-test"
                    playHere="https://babylon-test.netlify.app/"
            ></ProjectCard>
        </div>
    </section>
    <section class="container">
        <h2 class="section-title">Other projects</h2>
        <div class="projects-grid">
            <ProjectCard
                    imgSrc="/projects/sinonimi.webp"
                    imgAlt="Sinonimi"
                    title="Sinonimi"
                    description="Find synonyms and antonyms for the Italian language"
                    sourceCode="https://github.com/ildede/sinonimi"
                    playHere="https://sinonimi.pages.dev/"
            ></ProjectCard>
            <ProjectCard
                    imgSrc="/projects/loqace.webp"
                    imgAlt="LoQAce.com"
                    title="loqace.com"
                    description="Website realized for a Italian video game translator"
                    playHere="https://loqace.com"
            ></ProjectCard>
            <ProjectCard
                    imgSrc="/projects/quick-split.webp"
                    imgAlt="Quick Split"
                    title="Quick Split"
                    description="Help fellow translator with something that is not present in some CAT tool"
                    sourceCode="https://github.com/ildede/quick-split"
                    playHere="https://quick-split.pages.dev/"
            ></ProjectCard>
        </div>
    </section>

</BaseLayout>

<style>
    h1, h2 {
        padding-top: 2rem;
        color: var(--pdr-primary-text);
        text-align: center;
    }

    section {
        margin-top: 2rem;
    }
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }
</style>