---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<BaseLayout>

    <section>
        <div class="container">
            <h2 class="section-title">Games</h2>
            <div class="projects-grid">
                <ProjectCard
                        imgSrc="/projects/toss_the_toast.jpg"
                        imgAlt="Toss The Toast"
                        title="Toss The Toast"
                        description="Trow toasts in the right position, can you unlock the unlimited power?"
                        sourceCode="https://github.com/ildede/toss-the-toast"
                        playHere="https://loqace.itch.io/tossthetoast"
                ></ProjectCard>
                <ProjectCard
                        imgSrc="/projects/the_watcher.webp"
                        imgAlt="The Watcher"
                        title="The Watcher"
                        description="A story about people, relationships, forms of control, interactions and human nature, with a dark twist."
                        sourceCode="https://github.com/lldede/the-watcher"
                        playHere="https://gamejolt.com/games/thewatcher/493177"
                ></ProjectCard>
                <ProjectCard
                        imgSrc="/projects/duddle_buck.png"
                        imgAlt="Duddle Buck"
                        title="Duddle Buck"
                        description="Fight your battle with a faucet, a bathtub, and... ducks."
                        sourceCode="https://github.com/ildede/duddle-buck"
                        playHere="https://duddle-buck.pages.dev/"
                ></ProjectCard>
                <ProjectCard
                        imgSrc="/projects/citizenhyene.jpg"
                        imgAlt="Citizen Hyène"
                        title="Citizen Hyène"
                        description="Reach your goal in this platformer, before you die of laughter"
                        sourceCode="https://github.com/ildede/ggj2024-citizen-hyene"
                        playHere="https://ggj2024-citizen-hyene.pages.dev/"
                ></ProjectCard>
                <ProjectCard
                        imgSrc="/projects/mangroviglio.png"
                        imgAlt="Mangroviglio"
                        title="Mangroviglio"
                        description="A zen revamp of classic game Snake"
                        sourceCode="https://github.com/ildede/mangroviglio"
                        playHere="https://gx.games/games/24pkec/mangroviglio/"
                ></ProjectCard>

            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2 class="section-title">Other projects</h2>
            <div class="projects-grid">
                <ProjectCard
                        imgSrc="/projects/sinonimi.png"
                        imgAlt="Sinonimi"
                        title="Sinonimi"
                        description="Find synonyms and antonyms for the Italian language"
                        sourceCode="https://github.com/ildede/sinonimi"
                        playHere="https://sinonimi.pages.dev/"
                ></ProjectCard>
                <ProjectCard
                        imgSrc="/projects/loqace.png"
                        imgAlt="LoQAce.com"
                        title="loqace.com"
                        description="Website realized for a Italian video game translator"
                        playHere="https://loqace.com"
                ></ProjectCard>
            </div>
        </div>
    </section>

</BaseLayout>

<style>
    /* Progetti */
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }
</style>