<section id="hero" class="container-fluid">
    <h1>Davide Pedron</h1>
    <p>Transforming code into immersive experiences</p>
    <div>
        <a href="#contact" class="primary">Get In Touch</a>
        <a href="CV_davide_pedron.pdf" target="_blank" class="contrast">See CV</a>
        <a href="/portfolio" class="primary">Portfolio</a>
    </div>
</section>

<style>
    #hero {
        background-image: url("banner.jpeg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 8rem 1rem 1rem 1rem;
    }

    h1, p, a {
        color:  var(--pico-code-background-color);
    }

    div {
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        flex-wrap: wrap;

        a {
            padding: .5rem 1rem;
            text-decoration: none;
            border: 2px solid;
            border-color: var(--pico-code-background-color);
            border-radius: 1rem;
            color: var(--pico-code-background-color);

            &.primary {
                background-color: #e63946;
                &:hover {
                    color: #e63946;
                    border-color: #e63946;
                    background-color: var(--pico-code-background-color);
                }
            }

            &.contrast {
                background-color: #1a3e75;
                &:hover {
                    color: #1a3e75;
                    border-color: #1a3e75;
                    background-color: var(--pico-code-background-color);
                }
            }
        }
    }
</style>
