<section id="hero" class="container-fluid">
    <h1>Davide Pedron</h1>
    <p>Transforming code into immersive experiences</p>
    <div>
        <a href="#contact" class="primary">Get In Touch</a>
        <a href="CV_davide_pedron.pdf" target="_blank" class="contrast">See CV</a>
        <a href="/portfolio" class="primary">Portfolio</a>
    </div>
</section>

<style>
    #hero {
        background-image: url("banner.jpeg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 8rem 1rem 1rem 1rem;
    }

    h1, p, a {
        color:  var(--pdr-primary-text);
    }

    div {
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        flex-wrap: wrap;

        a {
            padding: .5rem 1rem;
            text-decoration: none;
            border: 2px solid;
            border-color: var(--pdr-primary-text);
            border-radius: 1rem;
            color: var(--pdr-primary-text);

            &.primary {
                background-color: var(--pdr-accent-red);
                &:hover {
                    color: var(--pdr-accent-red);
                    border-color: var(--pdr-accent-red);
                    background-color: var(--pdr-primary-text);
                }
            }

            &.contrast {
                background-color: var(--pdr-primary-blue);
                &:hover {
                    color: var(--pdr-primary-blue);
                    border-color: var(--pdr-primary-blue);
                    background-color: var(--pdr-primary-text);
                }
            }
        }
    }
</style>
